apiVersion: apps/v1
kind: Deployment
metadata:
  name: fillit-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fillit
  template:
    metadata:
      labels:
        app: fillit
    spec:
      containers:
      - name: fillit-container
        image: jaegyeong223/fillit:${BUILD_NUMBER}
        imagePullPolicy: Always
        ports:
          - containerPort: 8080
            hostPort: 8090